/* 그룹개요 내용 콘텐츠 */
#content .content_area{ margin: 0 auto; padding-bottom: 50px;}

#content .content_area h3{font-size: 2rem; font-weight: 600; color: var(--font-color-main); text-align: center;
margin: 100px 0 35px;}
#content .content_area strong{display: block; font-weight: 600; font-size: 2.5rem; text-align: center;
margin-bottom: 20px;}
#content .content_area p{font-size: 1.2rem; display: block; width: 1400px; margin: 0 auto; text-align: center; line-height: 2.4rem;}
#content .content_area .brand_logo{display: block; margin: 0 auto 60px;}
#content .content_area .brand_paragraph{font-size: 1.5rem;}

#content .content_area hr{height: 1px; background: #ccc; border: 0; margin: 100px auto 0; width: 1400px;}

#content .content_area div:nth-of-type(1){background: url(../images/content1/brand_img_1.jpg); width: 100%; height: 600px;
margin: 100px 0 0;}
#content .content_area div:nth-of-type(2){background: url(../images/content1/con1_bg_1.jpg) no-repeat; padding-top: 110px;}

#content .content_area .brand_story_box_1{position: relative;}
#content .content_area .brand_story_box_1 li{display: flex; flex-direction: column; align-items: center; justify-content: center;}
#content .content_area .brand_story_box_1 li img{display: block; box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, .3); border-radius: 50%;}
#content .content_area .brand_story_box_1 li p{margin-top: 15px; line-height: 1.3rem; font-weight: 400; color: var(--font-color2);}

#content .content_area .brand_story_box_1 li:nth-of-type(1) img{width: 550px; height: 550px; margin-top: 80px;}
#content .content_area .brand_story_box_1 li:nth-of-type(2) img{width: 500px; height: 500px;}
#content .content_area .brand_story_box_1 li:nth-of-type(3) img{width: 450px; height: 450px;}
#content .content_area .brand_story_box_1 li:nth-of-type(4) img{width: 350px; height: 350px;}

#content .content_area .brand_story_box_1 li:nth-of-type(1){position: relative; top: 0; left: -250px;}
#content .content_area .brand_story_box_1 li:nth-of-type(2){position: relative; top: -150px; left: 250px;}
#content .content_area .brand_story_box_1 li:nth-of-type(3){position: relative; top: -300px; left: -200px;}
#content .content_area .brand_story_box_1 li:nth-of-type(4){position: absolute; bottom: 60px; left: 450px;}

#content .content_area strong:nth-of-type(2){margin-top: 100px;}
#content .content_area img:nth-of-type(2){width: 900px; height: 500px;
background: yellow; display: block; margin: 50px auto 0; border-radius: 20px; box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, .2);}
#content .content_area p:nth-of-type(4){margin-top: 30px;}

#content .content_area .brand_story_box_2{width: 1400px; height: 1400px; background: url(../images/content1/con1_bg_2.svg);
margin: 0 auto;}
#content .content_area .brand_story_box_2 ul{position: relative; overflow: visible;}
#content .content_area .brand_story_box_2 ul li{display: flex; justify-content: center; flex-wrap: wrap;}
#content .content_area .brand_story_box_2 ul li img{display: block;}
#content .content_area .brand_story_box_2 ul li p{display: block; font-weight: 500; font-size: 1.6rem;}
#content .content_area .brand_story_box_2 ul li:nth-of-type(1){position: absolute; top: 50px; left: -150px;}
#content .content_area .brand_story_box_2 ul li:nth-of-type(2){position: absolute; top: 450px; left: 130px;}
#content .content_area .brand_story_box_2 ul li:nth-of-type(3){position: absolute; top: 420px; left: -200px; transform: translateX(-100px);}
#content .content_area .brand_story_box_2 ul li:nth-of-type(4){position: absolute; top: 860px; left: -250px; transform: translateX(-270px);}
#content .content_area .brand_story_box_2 ul li:nth-of-type(5){position: absolute; top: 965px; left: -100px;}
#content .content_area .brand_story_box_2 ul li:nth-of-type(6){position: absolute; top: 920px; left: 350px;}

#content .content_area .brand_story_box_2 ul li:nth-of-type(1) img{transform: scale(.7); margin-bottom: -40px;}
#content .content_area .brand_story_box_2 ul li:nth-of-type(2) img{transform: scale(.8); margin-bottom: -18px;}
#content .content_area .brand_story_box_2 ul li:nth-of-type(3) img{transform: scale(.8); margin-bottom: -20px;}
#content .content_area .brand_story_box_2 ul li:nth-of-type(4) img{}
#content .content_area .brand_story_box_2 ul li:nth-of-type(5) img{transform: scale(1.2); margin-bottom: 20px;}
#content .content_area .brand_story_box_2 ul li:nth-of-type(6) img{}