/* 헤더 공통 영역 */
#headerArea{width: 100%;
            height: 100px;
            position: fixed;
            left: 0; top: 0; z-index: 100; transition: background .5s ease-out;
            background: rgba(255,255,255,.9);}
#headerArea .header_inner{width: 1400px; height: 100%; margin: 0 auto; display: flex;
                          justify-content: space-between; padding-top: 24px;}
#headerArea .logo{width: 192px;}
#headerArea .logo a{width: 192px; height: 48px; background: url(../../../common/images/logo_top.png); text-indent: -999px; overflow: hidden;}

/* 글로벌 내비게이션 영역 */
#gnb{clear:both; width:900px;} 
	
#gnb ul.dropdownmenu{float:left; width: 100%;}
#gnb ul.dropdownmenu li.menu{position:relative; float:left; width:16.66%; height: 50px; }
	
#gnb ul.dropdownmenu li a.depth1{display:block; padding: 9px 0; color: var(--font-color1); text-align: center; transition: all .5s;
 font-weight: 500; font-size: 1.25rem;}
	
#gnb .dropdownmenu .menu ul li a {display: block; padding-top: 5px; background-repeat: no-repeat; background-position: center 100%; background-size: 0 3px;
  background-image: linear-gradient(#EB6317, #EB6317); transition: all 0.3s ease;}

#gnb .dropdownmenu .menu ul li a:hover {transform: translateY(-5px); background-size: 70% 2px; font-weight: 800;}
	
/* 2depth */
#gnb ul.dropdownmenu li ul{width:100%; height:200px; position:absolute; top:45px;left:0;
		  padding:15px 0; line-height:2.7em; display: none; }

#gnb ul.dropdownmenu li ul li{ text-align:center; font-weight:bold;}
#gnb ul.dropdownmenu li ul li a{display:block; color: var(--font-color2); font-weight: 400; transition: all .5s; border-radius: 15px;}

#headerArea .header_inner .top_menu{display: flex; gap: 30px; padding-top: 12px;}
#headerArea .header_inner .top_menu li a{font-family: "Noto Sans KR", sans-serif; font-weight:400; font-size: 16px;}

/* 공통 비주얼 영역 */
.visual{width: 2000px; height: 400px; background: url(../images/sub5_visual.jpg); position: relative; top: 0; left: 50%; transform: translateX(-50%);}
.visual strong{font-size: 32px; color: #fff; font-weight: 600;
position: absolute; width: 100%; left: 0; top: 55%; display: block;
text-align: center; text-shadow: 2px 2px 5px #666;}

/* 서브 메뉴 영역 */
.sub_nav{border-bottom: 1px solid #ccc;}
.sub_nav ul{width: 1400px; margin: 0 auto; display: flex;}
.sub_nav ul li{width: 25%; box-sizing: border-box; text-align: center;}
.sub_nav ul li a{font-size: 1.2rem; font-weight: 600;
padding: 15px 0; transition: all .3s ease-out;}
.sub_nav ul li a:hover,
.sub_nav ul li a.current
{background: var(--font-color-main); color: #fff;}

/* 콘텐츠의 타이틀 영역 */
#content{width: 100%;}
#content .title_area{width: 1400px; margin: 0 auto;
padding: 150px 0 200px; position: relative;}
#content .title_area h2{font-size: 60px; font-weight: 700; text-align: center; margin-bottom: 20px; position: relative;}
#content .title_area h2::after{content: ''; position: absolute; left: 50%; top: 200px; transform: translateX(-50%);
    display: block; height: 4px; width: 300px; background: linear-gradient(to right, transparent, var(--font-color-main), transparent);}
#content .title_area p{font-size: 24px; text-align: center; font-weight: 500;}
#content .title_area .line_map{position: absolute; right: 0; top: 15px;
font-size: 1rem;}