/* 기념이념 내용 콘텐츠 */
#content .content_area{width: 1400px; margin: 0 auto; padding-bottom: 150px;}

.product{width:100%; margin: 50px auto;}
.product h3{font-size: 50px; text-align: center; margin: 80px 0; font-weight: 600;}

.product .serch_box{width:1000px; margin: 20px auto 100px; display: flex; justify-content: center; align-items: center; gap: 10px;}
.product .serch_box input{font-size: 2rem; padding:5px 10px; text-align: center; border: 0; outline: none ; border-bottom: 3px solid var(--font-color-main);
width: 600px;}
.product .serch_box button{width: 110px; padding: 10px 0; font-size: 1.5rem; border: 0; background: var(--font-color-main); color: #fff; font-weight: 400; border-radius: 10px; cursor: pointer;}
.product .serch_box .btn_all{background: var(--font-color-main); cursor: pointer;}

.product ul{overflow: hidden; display: flex; flex-wrap: wrap; justify-content: space-evenly; padding: 10px 0;}
.product li{width: 330px; height: 480px;  text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center; border-radius: 15px; transition: all .3s ease-out;}
.product li:hover{transform: scale(1.03); box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);}
.product li img{width: 200px; transition: all .3s ease-out;}
.product li a{display: block; color: #fff; background: var(--font-color-main); width: 100px; margin: 0 auto; padding: 5px 5px; border: 2px solid var(--font-color-main); border-radius: 10px;
transition: all .3s ease-out;}
.product li a:hover{color: var(--font-color-main); background: #fff;}
.product li dl{width: 250px; margin: 15px auto;} 
.product li dt{font-size:1.1rem; font-weight: 600; margin-bottom: 20px}
.product li dd{line-height: 1.5em; font-weight: 400; margin-bottom: 5px;}

.product .modal_box{position: fixed; width: 100%; height: 100%;
  left:0; top:0; background: rgba(0,0,0,.8); display: none; z-index: 110;}
.product .modal_box .popup{width:660px; height: 800px;
    position: absolute; left: 50%; top:50%; transform: translate(-50%, -50%);
    background: #fff; text-align: center; border-radius: 20px;}
.product .modal_box .popup img{width:600px; margin: 20px;}
.product .modal_box .popup p{font-weight: 600; font-size: 1.6em; margin-bottom: 10px;}
.product .modal_box .popup .close_pop{display: block; margin: 20px auto 0; width: 100px; position: absolute; bottom: 30px; left:50%; transform: translateX(-50px); border-radius: 10px;
    text-align: center; color: #fff; font-size: 1.5em; background: var(--font-color-main); padding: 3px 5px; border: 2px solid var(--font-color-main); transition: all .3s ease-out;}
.product .modal_box .popup .close_pop:hover{color: var(--font-color-main); background: #fff;}