/* sub4_3 콘텐츠 */

/* 서브 메뉴 영역 */
.visual .sub_nav ul li{width: 33.33%;}


#content .content_area{position: relative;}

#content .content_area .text_top_box .text_top{display: block; font-size: 1.3rem; font-weight: 600; text-align: center;}
#content .content_area .text_top_box .text_top span{color: var(--font-color-main);}
#content .content_area .text_top_box p:nth-of-type(2){display: block; margin: 0 auto; text-align: center;
font-weight: 400; font-size: 1.1rem; margin-top: 10px; color: var(--font-color2);}
#content .content_area .text_top_box p:nth-of-type(2) span{font-size: 25px; transform: translateY(5px);
color: var(--font-color2); margin-bottom: 150px;}



/* FAQ */

#content .content_area .faq{width:90%; border-bottom:1px solid #ccc; font-size:1rem; margin: 150px auto 40px;}
#content .content_area .faq .hgroup{position:relative; margin:0 0 10px 0; font-weight: 500;}
#content .content_area .faq .hgroup h2{font-weight: 500;}
#content .content_area .faq .hgroup .all{position:absolute; top:0; right:10px; color:#333; text-decoration:none;}  
#content .content_area .faq ul{margin-top: 20px; list-style:none}  
#content .content_area .faq .q{margin:0; border-top:1px solid #ddd; position: relative;}  
#content .content_area .faq .q a.trigger{display:block; padding:25px 20px; background: linear-gradient(136deg,rgba(255, 239, 230, 1) 0%, rgba(255, 222, 201, 1) 100%); color:#333; text-align:left; font-weight: 500;}  
#content .content_area .faq .hide .q a.trigger{font-weight:500; background:#f6f6f6}
#content .content_area .faq .q a.trigger:hover,
#content .content_area .faq .q a.trigger:active,
#content .content_area .faq .q a.trigger:focus{background: linear-gradient(131deg,rgba(255, 144, 79, 1) 0%, rgba(235, 99, 23, 1) 100%); color:#fff; font-weight: 500;}
#content .content_area .faq .q span{display: block; position: absolute; right: 15px; top:24px}
#content .content_area .faq .a{margin:0; padding:25px 20px; line-height:1.5; margin: 10px 0; display: none;
font-size: 1.1rem; font-weight: 400;} 